<form style="width: 700px">
  <div class="mb-3">
    <label for="naming" class="form-label">Наименование соревнования</label>
    <input type="text" class="form-control" id="naming"
           (change)="updateName()"/>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Описание соревнования</label>
    <div class="input-group mb-3" style="margin-bottom: 10px">
      <textarea id="description" class="form-control" aria-label="With textarea"
                (change)="updateDescription()"></textarea>
    </div>
  </div>
  <div class="mb-3">
    <label for="startDate">Дата начала соревнования</label>
    <input id="startDate" class="form-control" type="date" (change)="updateDate()"/>
  </div>
  <button type="button" class="btn btn-primary" (click)="createCompetition()">Создать</button>
</form>
